.income {
  color: var(--color-yellow);
}

.expense {
  color: var(--color-dashboard-text);
}
.bodyTable {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 53px;

  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.bodyTable:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.201);
}
.buttonDelete {
  display: block;
  font-size: 14px;
  padding: 4px 12px;

  color: #fff;
  border-radius: 18px;
  background: var(
    --button-gradient,
    linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%)
  );

  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
}
.buttonEdit {
  display: block;

  font-size: 16px;
  letter-spacing: 0.32px;
  padding: 10px;
  background: none;
}
.pen {
  width: 14px;
  height: 14px;
  stroke: rgba(255, 255, 255, 0.6);
  fill: none;
}

.sectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 30px;
}

.date {
  text-align: center;
  width: 90px;
}
.type {
  text-align: center;
  width: 90px;
}

.category {
  text-align: start;
  padding-left: 20px;
  width: 110px;
}
.comment {
  text-align: start;
  padding-left: 30px;
  width: 110px;
}
.sum {
  text-align: end;
  width: 100px;
}
