@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'),
    url(../assets/fonts/Poppins-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'),
    url(../assets/fonts/Poppins-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins'),
    url(../assets/fonts/Poppins-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins'),
    url(../assets/fonts/Poppins-Regular.ttf) format('opentype');
}
