:root {
  --color-button-gradient: linear-gradient(
    to right,
    rgba(255, 199, 39, 1) 0%,
    rgba(158, 64, 186, 0.62) 61.46%,
    rgba(112, 0, 255, 0.44) 90.54%
  );
  --color-line-gradient: linear-gradient(
    to bottom,
    rgba(75, 30, 124, 0.296) 19.19%,
    rgba(48, 46, 142, 0.188) 100%
  );
  --color-yellow: rgba(255, 182, 39, 1);
  --color-icon-violet: rgba(115, 74, 239, 1);
  --color-white: rgba(251, 251, 251, 1);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-text-button: rgba(98, 63, 139, 1);
  --color-dashboard-text: rgba(255, 134, 141, 1);
  --color-form-color: rgba(255, 255, 255, 0.1);
  --color-small-form-color: linear-gradient(
    to bottom,
    rgba(83, 61, 186, 0.324) 0%,
    rgba(80, 48, 154, 0.313) 35.94%,
    rgba(106, 70, 165, 0.416) 61.04%,
    rgba(133, 93, 175, 0.521) 100%
  );
}

.effect-style-button-shadow {
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
}

.effect-style-form-effects {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
}

.effect-style-form-effects {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
}
