.div {
  width: 715px;
  margin-top: 46px;
}
.table {
  border-collapse: collapse;
}

.headerTable {
  display: block;
  text-align: center;
  min-width: 715px;
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}

.headerName {
  padding: 16px;
  height: 56px;
}
.date {
  text-align: start;
  padding-left: 20px;
  width: 70px;
}
.type {
  text-align: center;
  width: 90px;
}
.category {
  text-align: start;
  padding-left: 20px;
  width: 100px;
}
.comment {
  text-align: center;
  width: 150px;
}
.sum {
  text-align: end;
  width: 100px;
}
.th {
  width: 130px;
}

.tbody {
  width: 715px;
}
.overflow {
  display: block;

  width: 715px;
  max-height: 318px;
  overflow: auto;
}
.overflow::-webkit-scrollbar {
  width: 4px;
  height: 318px;
}

.overflow::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}
.nowOverflow {
  padding-right: 20px;
}
.secondTable {
  margin: auto;
}
