.indicator {
  height: 4px;
  border-radius: 9px;
  background-color: rgb(211, 208, 208);
  transition: width 0.9s ease-in-out;
  margin: 0 auto;
}

.empty {
  width: 0;
}

.weak {
  width: 25%;
  height: 4px;
  border-radius: 9px;
  background-color: #ff0000;
  transition-duration: 2s;
}

.medium {
  width: 50%;
  height: 4px;
  border-radius: 9px;
  background-color: #ffa500;
  transition-duration: 2s;
}

.strong {
  width: 75%;
  height: 4px;
  border-radius: 9px;
  background-color: #f4cf05;
  transition-duration: 2s;
}

.super_strong {
  width: 100%;
  height: 4px;
  border-radius: 9px;
  background-color: #26f846;
  transition-duration: 2s;
}

.login_page_wrapper {
  background: radial-gradient(rgba(60, 40, 160, 1), rgba(68, 53, 110, 1));
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_content {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(50px);
}

.login_colored_link,
.login_white_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
}

.login_colored_link {
  background-image: var(--color-button-gradient);
  transition: scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  margin-top: 12px;
}

.login_white_link {
  color: var(--color-text-button);
  background-color: var(--color-white);
  margin: 0 auto;
  margin-top: 20px;
  transition: scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 280px;
  margin: 0 auto;
}

.login_input {
  width: 240px;
  height: 32px;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--color-white-40);
  color: var(--color-white-60);
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  padding-left: 40px;
  transition: border-color 0.25s ease-in-out;
}

.login_input:focus {
  border-color: var(--color-white);
}

.login_input::placeholder {
  color: var(--white-60, rgba(255, 255, 255, 0.6));
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input_wrapper {
  position: relative;
}

.input_icon {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 24px;
  height: 24px;
}

.logo_title {
  font-family: 'Poppins';
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}

.logo_login {
  display: block;
  margin: 0 auto;
  margin-bottom: 52px;
  text-align: center;
  width: 128px;
}

.logo_svg {
  width: 25px;
  height: 25px;
}

.password_srtength {
  margin: 0 auto;
  margin-top: 7px;
}

.login_submit_button {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-size: 18px;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.login_submit_button:hover,
.login_submit_button:focus,
.login_submit_button:hover,
.login_colored_link:active,
.login_colored_link:hover,
.login_colored_link:focus,
.login_white_link:hover,
.login_white_link:focus,
.login_white_link:active {
  scale: 0.99;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

.error_message {
  color: rgb(162, 68, 68);
  margin-top: -35px;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  text-align: center;
}

.svg_sizing {
  width: 24px;
  height: 24px;
  display: block;
}

@media screen and (min-width: 768px) {
  .page_content {
    background-color: var(--color-form-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 62px;
    max-width: 533px;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  }

  .login_form {
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 409px;
  }

  .login_input {
    width: 379px;
    padding-left: 33px;
  }

  .login_colored_link,
  .login_white_link {
    width: 300px;
  }

  .logo_title {
    font-size: 27px;
  }

  .logo_svg {
    width: 35px;
    height: 35px;
  }

  .logo_login {
    width: 182px;
  }

  .password_srtength {
    width: 410px;
    margin: 0 auto;
    margin-top: 7px;
  }
}

@media (min-width: 768px) {
  .login_page_wrapper {
    height: 100vh;
    background: url(../../images/dollar/foto-dollar-1xtab.png),
      radial-gradient(at 8% 89%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 79% 82%,
        rgba(114, 44, 135, 1) 0px,
        rgba(42, 28, 134, 1) 50% 0px,
        transparent 60%) repeat scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      rgba(114, 44, 135, 1) radial-gradient(at 57% 33%,
        rgba(96, 55, 169, 1) 0px,
        rgba(114, 44, 135, 1) 50%) repeat scroll 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 590px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .wrapper {
    background: url(../../images/dollar/foto-dollar-2xtab.png),
      radial-gradient(at 8% 89%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 79% 82%,
        rgba(114, 44, 135, 1) 0px,
        rgba(42, 28, 134, 1) 50% 0px,
        transparent 60%) repeat scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      rgba(114, 44, 135, 1) radial-gradient(at 57% 33%,
        rgba(96, 55, 169, 1) 0px,
        rgba(114, 44, 135, 1) 50%) repeat scroll 0% 0%;
  }
}

@media (min-width: 1280px) {
  .login_page_wrapper {
    height: 100vh;
    background: url(../../images/dollar/foto-dollar-1xleft.png) left top,
      url(../../images/dollar/foto-dollar-1xrigth.png) right top,
      radial-gradient(at 8% 89%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 79% 82%,
        rgba(114, 44, 135, 1) 0px,
        rgba(42, 28, 134, 1) 50% 0px,
        transparent 60%) repeat scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      rgba(114, 44, 135, 1) radial-gradient(at 57% 33%,
        rgba(96, 55, 169, 1) 0px,
        rgba(114, 44, 135, 1) 50%) repeat scroll 0% 0%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 590px;
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .login_page_wrapper {
    height: 100vh;
    background: url(../../images/mone/foto-mone-2xleft.png) left top,
      url(../../images/mone/foto-mone-2xright.png) right top,
      radial-gradient(at 8% 89%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(19, 19, 25, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 79% 82%,
        rgba(114, 44, 135, 1) 0px,
        rgba(42, 28, 134, 1) 50% 0px,
        transparent 60%) repeat scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%) repeat scroll 0% 0%,
      rgba(114, 44, 135, 1) radial-gradient(at 57% 33%,
        rgba(96, 55, 169, 1) 0px,
        rgba(114, 44, 135, 1) 50%) repeat scroll 0% 0%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 590px;
  }
}