.layout {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .layout {
    height: 214px;
    display: flex;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .layout {
    margin-bottom: 0;
    display: block;
    height: 90vh;
    border-right: 1px solid #d9d9d9;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
  }
}
