.nav {
  margin: 12px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.nav p {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 336px;
    margin-top: 40px;
    display: grid;
    justify-content: start;
    gap: 12px;
    text-align: center;
  }
  .nav p {
    display: none;
    display: inline;
  }
  .nav svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    margin: 40px 0 0 16px;
  }
}

.navLink {
  display: flex;
  gap: 20px;
  fill: #fff;
  opacity: 0.4;
  align-items: center;
}

.navLink:hover {
  font-weight: 700;
}

.navLink.active {
  font-weight: 700;
}
.navLink:hover .svg {
  fill: #734aef;
}
