.block {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 293px;
  margin: 8px auto;
  border: 2px solid;
  border-radius: 10px;
}

.text {
  height: 48px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
