.block {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  height: 293px;
  margin: auto;
  margin-top: 8px;
  border-left: 5px solid;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(
    24deg,
    rgba(255, 255, 255, 0.0005) 0%,

    rgba(255, 255, 255, 0.2) 100%
  );
}

.incomeBorder {
  border-color: var(--color-yellow);
}
.expenseBorder {
  border-color: var(--color-dashboard-text);
}

.text {
  height: 48px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.text:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.201);
}

.buttonDelete {
  font-size: 14px;
  padding: 4px 12px;

  color: #fff;
  border-radius: 18px;
  background: var(
    --button-gradient,
    linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%)
  );
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
}
.buttonEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white-60, rgba(255, 255, 255, 0.6));
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.32px;

  background: none;
}

.income {
  color: var(--color-yellow);
}

.expense {
  color: var(--color-dashboard-text);
}
.pen {
  width: 14px;
  height: 14px;
  stroke: rgba(255, 255, 255, 0.6);
  fill: none;
}
