.ollList {
  margin-top: 32px;
}
.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
}

.button {
  min-width: 69px;
  height: 40px;
  font-size: 16px;
  padding: 10px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 18px;
  color: #fbfbfb;
  background-image: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  border: none;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms linear;
}
