.titleList {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
.tableContainer {
  margin: 0 auto;
  max-width: 280px;
}
@media only screen and (min-width: 768px) {
  .tableContainer {
    max-width: 336px;
  }
}

@media only screen and (min-width: 1280px) {
  .tableContainer {
    max-width: 395px;
  }
}
.itemList {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}
.itemList:hover {
  border-radius: 8px;
  cursor: pointer;
  background-color: #c1b7f6a5;
}
.colorBox {
  width: 24px;
  height: 24px;
  border-color: black;

  border-radius: 4px;
  margin-right: 16px;
}
.sum {
  margin-left: auto;
}
.sumarry {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.sumarryIncome {
  padding-top: 0;
}

.expense {
  color: var(--dashboard-text, #ff868d);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.expenseHover:hover {
  cursor: pointer;
}
.sumarryExpense:hover {
  border-radius: 8px;
  background-color: #c1b7f6a5;
}
.income {
  color: var(--yellow, #ffb627);
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textStyle {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.titleCategory {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tableBtn {
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
}
