.balanceWrapper {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  max-width: 280px;
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(50px);
}
.balanceText {
  font-family: Poppins;
  margin-bottom: 12px;
  padding-top: 8px;
  padding-left: 32px;
  color: var(--white-40, rgba(255, 255, 255, 0.4));
  font-size: 12px;
  text-transform: uppercase;
}
.balance {
  padding-left: 32px;
  padding-bottom: 12px;
  color: var(--white, #fbfbfb);
  font-size: 30px;
  font-weight: 700;
}
.balanceSign {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .balanceWrapper {
    margin-top: 28px;
    max-width: 336px;
  }

  .balanceText {
    padding-left: 40px;
  }

  .balance {
    padding-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceWrapper {
    max-width: 480px;
    border-radius: 0;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  }

  .balanceText {
    padding-left: 56px;
  }

  .balance {
    padding-left: 56px;
  }
}
