@import-normalize;
@import './stylesheet/fonts.css';
@import './stylesheet/vars.css';

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  background: radial-gradient(at 100% 0%, rgb(32 3 62) 0px, transparent 50%)
      repeat scroll 0% 0%,
    radial-gradient(at 0% 0%, rgb(51 24 78) 0px, transparent 100%) repeat scroll
      0% 0%,
    radial-gradient(at 80% 90%, rgb(112 38 134) 0px, transparent 50%) repeat
      scroll 0% 0%,
    radial-gradient(at 42% 20%, #6d54eb 0px, transparent 50%) repeat scroll 0%
      0%,
    #302e8e;
}

@media screen and (min-width: 768px) {
  body {
    background: radial-gradient(at 100% 0%, rgb(58 9 107) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 0% 0%, rgb(30 5 57) 0px, transparent 100%) repeat
        scroll 0% 0%,
      radial-gradient(at 80% 90%, rgba(114, 44, 135, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, #6d54eb 0px, transparent 50%) repeat scroll 0%
        0%,
      #302e8e;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background: radial-gradient(
          at 98% 8%,
          rgba(19, 19, 25, 1) 0px,
          transparent 100%
        )
        repeat scroll 0% 0%,
      radial-gradient(at 0% 0%, #3d125a 0px, transparent 20%) repeat scroll 0%
        0%,
      radial-gradient(at 70% 90%, rgba(114, 44, 135, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 0% 20%, #6d54eb 0px, transparent 30%) repeat scroll 0%
        0%,
      #302e91;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
img,
picture {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: 700;
  fill: #734aef;
  opacity: 1;
}
