@import-normalize;
@import './stylesheet/fonts.css';
@import './stylesheet/vars.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
img,
picture {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
