.btnAddTransaction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: fixed;
  bottom: 10px;
  right: 0;
  transform: translateX(-50%);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fbfbfb;
  background-image: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  border: none;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms linear;
}

.noScroll {
  overflow: hidden;
}

.btnAddTransaction:hover,
.btnAddTransaction:focus {
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.5);
}

.iconAddPlus {
  width: 44px;
  height: 44px;
}

@media screen and (min-width: 767.98px) {
  .btnAddTransaction {
    bottom: 40px;
    right: 28px;
  }
}
